

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(24, 24, 24);
    font-family: arial, sans-serif;
}
.forAlignment {
    box-sizing: border-box;
    z-index: 100000;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 8px;
    right: 8px;
    top: 64px;
}
.background {
    box-sizing: border-box;
    background-image: url(quora-home.png);
    width: 100%;
    position: absolute;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.loginBoxAlignment {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginBox {
    box-sizing: border-box;
    border: 1px #262626 solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #262626;
    border-radius: 3px;
    height: 550.38px;
    width: 704px;
}
.wordHolder {
    margin-bottom: 24px;
}
.quoraLogo {
    box-sizing: border-box;
    width: 177px;
    height: 50px;
    overflow: hidden;
    margin-top: 26px;
}

.quoraText {
    box-sizing: border-box;
    position: relative;
    color: #e6e7e8;
    font-weight: bold;
    top: 10px;
    text-align: center;
    font-size: 15px;
}

.CONTAINERS{
    box-sizing: border-box;
    display: flex;
    width: 700px;
    padding-top: 35px;
    margin-bottom: 24px;
}

.lefBoxContainer{
    box-sizing: border-box;
    height: 255.8px;
    width: 50%;
    border-right-style: solid;
    border-width: 1px;
    border-color: #393839;
    padding-left: 24px;
    padding-right: 24px;
}
.privacyshiContainer {
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
}
.privacyShi{
    box-sizing: border-box;
    color: #b1b3b6;
    font-size: calc(13px * var(--dynamic-font-scale, 1));
}

.linkLeft{
    box-sizing: border-box;
    border-radius: inherit;
    text-decoration: none;
    cursor: pointer;
    color: rgb(72, 148, 253);
    font-size: calc(13* var(--dynamic-font-scale, 1));
}
.linkLeft:hover {
    text-decoration: underline;
}
.containerOfInput {
    height: 256px;
    box-sizing: border-box;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
}

.googleOuterDiv {
    text-decoration: none;
    background-color: #181818;
    transition: background-color 0.3 ease-in-out;
}
.googleOuterDiv:hover {
    background-color: white;
}

.gooleBg {
    border: 1px #393839 solid;
    box-sizing: border-box;
    font: inherit;
    text-align: inherit;
    width: 100%;
    padding: 8px;
    width: 301px;
    height: 46px;
    display: flex;
    flex: row;
    align-items: center;
    cursor: pointer;
}

.fbOuterDiv {
    text-decoration: none;
    background-color: #181818;
    transition: background-color 0.3 ease-in-out;
    margin-top: 10px;
}

.fbOuterDiv:hover {
    background-color: white;
}

.fbBg {
    border: 1px #393839 solid;
    box-sizing: border-box;
    font: inherit;
    text-align: inherit;
    width: 100%;
    padding: 8px;
    width: 301px;
    height: 46px;
    display: flex;
    flex: row;
    align-items: center;
    cursor: pointer;
}

.GoogleIcon,
.FbIcon {
    height: 26px;
    width: 26px;
    padding-left: 4px;
}


.GoogleIconContainer,
.FbIconContainer {
    width: 15%;
    height: 100%;
}

.googleLink,
.fblink {
    text-decoration: none;
    color: white;
    margin-right: 8px;
    font-family: inherit;
    font-size: inherit;
}

.emailButton {
    box-sizing: border-box;
    font: inherit;
    font-size: 13px;
    color: white;
    padding: 0px 10px;
    width: 301px;
    height: 30px;
    min-width: 30px;
    position: relative;
    border-width: 0px;
    outline: none;
    display: flex;
    background-color: transparent;
    appearance: none;
    text-align: center;
    border-radius: 1000px;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 18px;
    text-transform: none;
    overflow: visible;
}

.emailButton:hover {
    background-color: rgba(24, 24, 24, 0.6);
    border: 1px white solid;
}

.rightBoxContainers {
    box-sizing: border-box;
    height: 255.8px;
    width: 50%;
    padding-left: 24px;
    padding-right: 24px;
}


.text1{
    box-sizing: border-box;
    color: white;
    font-weight: 500;
    font-size: calc(14px* var(--dynamic-font-scale, 1));
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #393839;
}

.emailContainer {
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    width: initial;
    flex-direction: column;
    margin-bottom: 16px;
}

.passwordContainer {
    padding-top: 5px;
    box-sizing: border-box;
    display: flex;
    width: initial;
    flex-direction: column;
    margin-bottom: 16px;
}

.emailTextContainer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.paswordTextContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1px;
}

.emailText {
    box-sizing: border-box;
    font-weight: bold;
    font-size: calc(12px* var(--dynamic-font-scale, 1));
    color: white;
    padding-bottom: 1px;
}

.passwordText {
    box-sizing: border-box;
    font-weight: bold;
    font-size: calc(12px* var(--dynamic-font-scale, 1));
    color: white;
    padding-bottom: 1px;
}

.emailInputBox {
    border: 1px #393839 solid;
    border-radius: 3px;
    background-color: #181818;
    box-sizing: border-box;
    display: flex;
    z-index: 0;
    position: relative;
    min-height: 45px;
    align-items: center;
    padding: 8px;
    height: 45px;
    width: 302px;
    transition: border-color 180ms ease-in-out;
}

.passwordInputBox {
    border: 1px #393839 solid;
    border-radius: 3px;
    background-color: #181818;
    box-sizing: border-box;
    display: flex;
    z-index: 0;
    position: relative;
    min-height: 45px;
    align-items: center;
    padding: 8px;
    height: 45px;
    width: 302px;
    margin-top: 5px;
    transition: border-color 180ms ease-in-out;
}

.inputEmail, .inputPassword {
    box-sizing: border-box;
    height: 100%;
    box-shadow: none;
    background-color: transparent;
    padding: 0px;
    height: unset;
    outline: none;
    border: none;
    font-size: 15px;
    color: #fff;
}

.emailInputBox:hover,
.emailInputBox:focus-within,
.passwordInputBox:hover,
.passwordInputBox:focus-within {
    border-color: #287dff;
}


.ctnrFrgtPass_Lgin {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctnrFrgtPass {
    font-size: calc(13px * var(--dynamic-font-scale, 1));
    color: #a1a3a6;}
.FrgtPass {
    box-sizing: border-box;
    font: inherit;
    text-align: inherit;
    cursor: pointer;
}
.FrgtPass:hover {
    text-decoration: underline;
}

.Loginbtn {
    height: 38px;
    min-width: 38px;
    border-radius: 1000px;
    border: none;
    background-color: #287dff;
    padding: 0px 20px;
    position: relative;
}

.LoginbtnTxtAlignment {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

}
.LoginbtnText {
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}

.Login {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.BttmUpprDiv {
    height: 18.2;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px #393839 solid;
    padding-top: 16px;
    padding-bottom: 16px;
}

.lngDiv {
    box-sizing: border-box;
    font-size: calc(13px * var(--dynamic-font-scale, 1));
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #d1d3d6;}
.lngLinks {
    box-sizing: border-box;
    cursor: pointer;
    color: rgb(72, 148, 253);
    font-size: calc(13px* var(--dynamic-font-scale, 1));
    text-align: center;
    text-decoration: none;
}
.lngLinks:hover {
    text-decoration: underline;
}

.BttmCredits {
    height: 18.2;
    width: 100%;
    font-size: calc(13px* var(--dynamic-font-scale, 1));
    text-align: center;
}

.BttmLwrDiv {
    box-sizing: border-box;
    border-top: 1px #393839 solid;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.CrdtsLink {
    text-decoration: none;
    color: #d1d3d6;}

.CrdtsLink:hover {
    text-decoration: underline;
}

.displayNone {
    display: none;
    box-sizing: border-box;
}

.Separator:not(:first-child)::before {
    content:" · ";
    color: #fff;
}

.layoutMenu {
    opacity: 25%;
}

.PopupBg {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    line-height: 1.4;
    font-size: calc(15px* var(--dynamic-font-scale, 1));
    display: flex;
    align-items: center;
    z-index: 1400;
    overflow-x: auto;
}